---
import Layout from "../layouts/Layout.astro"
import Cabecalho from "../components/cabecalho.astro"
import { createUser } from '../services/graphql';
---

<Layout title="Cadasto">
    <main>
        <Cabecalho />
        <div class=" ml-20">
            <form action="">
                <label class="rounded-lg " for="">Nome:</label><br>
                <input class="rounded-lg " type="text"><br>
                <label class="rounded-lg " for="">Senha</label><br>
                <input class="rounded-lg " type="password" name="" id=""><br>
                <label class="rounded-lg " for="">confirme a senha</label><br>
                <input class="rounded-lg " type="password"><br>
                <label class="rounded-lg " for="Email">Email:</label><br>
                <input class="rounded-lg " type="email" name="" id=""><br>
                <label class="rounded-lg " for="">telefone:</label><br>
                <input class="rounded-lg " type="tel" name="" id=""><br>
                <button type="submit" class=" bg-orange-600 p-2 rounded-lg mt-5">Confirmar</button>


            </form>
        </div>
    </main>
</Layout>