---
// Importações de layout e componentes
import Layout from '../layouts/Layout.astro';
import Cabecalho from '../components/cabecalho.astro';
import Footer from '../components/footer.astro'
import Hero from '../components/hero.astro'
import Detalhes from '../components/detalhes.astro';
import Keyfeatures from '../components/keyfeatures.astro';
import Socicalproof from '../components/socialproof.astro'
---

<Layout title="Pagina Inicial Vyvah">
	<main>
		<Cabecalho />
		<Hero />
		<Detalhes />
		<Keyfeatures />
		<Socicalproof />
		<Footer />
	</main>
</Layout>
