---
// Importações de layout e componentes
import Layout from '../layouts/Layout.astro';
import Cabecalho from '../components/cabecalho.astro';
import Footer from '../components/footer.astro'
import Hero from '../components/hero.astro'
---

<Layout title="Pagina Inicial Vyvah">
	<main>
		<Cabecalho />
		<Hero />
		<Footer />
	</main>
</Layout>
