---
// Importações de layout e componentes
import Layout from '../layouts/Layout.astro';
import Cabecalho from '../components/cabecalho.astro'
import Login from '../components/login.astro';
---

<Layout title="Pagina Inicial Vyvah">
	<main>
		<Cabecalho  />
		<Login />
	</main>
</Layout>
