---
import Layout from "../layouts/Layout.astro"
import Cadastro from "../pages/Cadastro.astro"
---

<Layout title="detalhes">
    <div class="p-20"> 
        <div class="text-center text-orange-500 text-5xl mt-5 ">
            <h2 class="font-dancing-script">com o Vyvah isso e uma realidade.</h2>
        </div>
        <div class="text-center text-green-400 text-3xl mt-4">
            Não somo apenas um APP para comparação de preços
            somo seu parceiro par uma vida mias saudavel
        </div>
    </div>
</Layout>  