    ---
    import Layout from "../layouts/Layout.astro"

    ---

    <Layout title="Footer">
        <ul>
            <li><a href="pageadm">Painel Administrativo</a></li>
        </ul>
    </Layout>