---
import Layout from "../layouts/Layout.astro"
import Cadastro from "../pages/Cadastro.astro"
---

<Layout title="hero">
   <div class=" text-start  p-60 text-white text-2xl flex flex-row" style="background-image: url('/img/bg5.png">
         <div class="basis-1/2">
            <h2 class="ml-10">
                Vyvah – Economize, Escolha Melhor e Alcance Seus Objetivos!
             </h2>
            <div class="w-79 ml-10">
                Já imaginou quanto poderia economizar sabendo onde encontrar os melhores preços dos produtos que você usa diariamente? E se, além disso, pudesse fazer escolhas alimentares mais saudáveis e seguir treinos ajustados para você?
            </div>
            
         </div>
         <div class="">

         </div>
   </div>
</Layout>  