---
import Layout from "../layouts/Layout.astro";
import Cadastro from "../pages/Cadastro.astro";
---

<Layout title="socialproof">
    <div class="p-10 bg-orange-600">
        <div>
            <div class="flex flex-row p-3">
                <div class="basis-1/2 ml-9">
                    <img
                        class="rounded-full"
                        src="/public/img/face2.png"
                        alt="fogo perfil"
                        height="300"
                        width="300"
                    />
                </div>
                <div  class="basis-1/2">
                    <img
                        class="rounded-full"
                        src="/public/img/aval.png"
                        alt="fogo perfil"
                        height="300"
                        width="500"
                    />
                </div>
            </div>
        </div>
    </div>
</Layout>

